/* style.css */

body {
    background: #333 url(cafe.jpg) center center no-repeat;
    background-size: cover;
    color:  #756c83;;
}

.container {
    width: 400px;
    height: 500px;
    margin: 30px auto 0;
    padding: 30px;
    background-color: #fbfbfb;
    box-shadow: 15px 15px 15px -8px #000;
    border-radius: 8px;
    text-align: center;
}

.title {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px #ddd;
color: #b9e1dc;
text-shadow: 2px 2px #756c83;
font-weight: bold;
}


.btn {
  background-color: #b9e1dc;
  border-bottom: 2px solid #756c83;
  color: #756c83;
}

.btn:hover {
    background-color: #f38181;
    border-bottom-color: #756c83;
}

.tip {
  color: #f38181;
}

.per {
  color: #756c83;
}
